/* .messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8d7da;
    color: #721c24;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    width: 100%;
} */

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }