@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');
.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  background-image: url("./background_chat_program.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
